<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Nested Unordered List</h1>
    <ul>
      <li>Main Category 1</li>
      <ul type="circle">
        <li>Subcategory 1.1</li>
        <li>Subcategory 1.2</li>
      </ul>
    </ul>
    <ul>
      <li>Main Category 2</li>
      <ul type="circle">
        <li>Subcategory 2.1</li>
        <li>Subcategory 2.2</li>
      </ul>
    </ul>
    <h1>Nested Ordered List with Start Attribute</h1>
    <ol type="1" start="5">
      <li>Firts main item</li>
      <ol type="a">
        <li>First nested item</li>
        <li>Second nested item</li>
      </ol>
      <li>Firts main item</li>
      <ol type="a">
        <li>Third nested item</li>
        <li>Fourth nested item</li>
      </ol>
    </ol>
    <h1>Mixed Nested List</h1>
    <ul>
      <li>Web Development</li>
      <ol type="1">
        <li>HTML</li>
        <li>CSS</li>
        <ul type="square">
          <il>Flexboc</il>
        </ul>
        <li>JavaScript</li>
      </ol>
    </ul>
  </body>
</html>
