<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ol type="1">
      <li>
        Argentina
        <ul type="circle">
          <li><a href="Google.com">La nacion</a></li>
          <li><a href="Google.com">Clarin</a></li>
          <li><a href="Google.com">Pagina 12</a></li>
        </ul>
      </li>
      <li>
        España
        <ul type="circle">
          <li><a href="Google.com">El pais</a></li>
          <li><a href="Google.com">ABC</a></li>
          <li><a href="Google.com">El mundo</a></li>
        </ul>
      </li>
      <li>
        Mexico
        <ul type="circle">
          <li><a href="Google.com">El universal</a></li>
          <li><a href="Google.com">La jornada</a></li>
        </ul>
      </li>
    </ol>
  </body>
</html>
