<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      border: 5px solid rgb(13, 134, 54);
      padding: 10px 10px;
      text-align: center;
      color: rgb(17, 110, 17);
    "
  >
    <h1>Himno del Real Betis Balompié (letra)</h1>

    <p>
      Aquí estamos todos pa cantarte tu canción<br />
      estamos apiñados como balas de cañón<br />
      y es que no hay quien pueda con esta afición<br />
      y aunque último estuvieras siempre te ven campeón
    </p>

    <p>
      Beceeeetis, Beceeeetis, Beceeeetis<br />
      Ahora Betis, ahora, no dejes de atacar<br />
      ahora Betis ahora porque el gol ya va a llegar<br />
      Beeeeeeetis, Beeeeeeetis, Beeeeeeetis
    </p>

    <p>
      Hay una leyenda que recorre el mundo entero,<br />
      verde y blanco sus colores,<br />
      blanco y verde es el sendero,<br />
      luz en la mañana y en la noche quejío y quiebro
    </p>

    <p>
      Betis musho Betis, en el mundo lo que más quiero<br />
      Luz en la mañana y en la noche quejío y quiebro<br />
      Betis musho Betis, en este mundo lo que más quiero
    </p>

    <p>
      Beeeeeeetis, Beeeeeeetis, Beeeeeeetis<br />
      Ahora Betis, ahora, no dejes de atacar,<br />
      ahora Betis ahora porque el gol ya va a llegar<br />
      Beeeeeeetis, Beeeeeeetis, Beeeeeeetis, Beeeeeeetis
    </p>
  </body>
</html>
