<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="es">
      <head>
        <meta charset="UTF-8" />
        <title>Esquema de Aprendizaje de Desarrollo Web</title>
        <style>
          body {
            font-family: serif;
            max-width: 800px;
            margin: 0 auto;
          }
          h1 {
            font-size: 24px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 20px;
          }
          ol {
            margin-left: 20px;
          }
        </style>
      </head>
      <body>
        <h1>Aprendiendo desarrollo web</h1>

        <ol type="I">
          <li>
            Conocimientos de fondo
            <ol type="A">
              <li>Comandos Unix</li>
              <li>Editor de texto Vim</li>
            </ol>
          </li>

          <li>
            HTML
            <ol type="A">
              <li>Página mínima</li>
              <li>Cabeceras</li>
              <li>Etiquetas</li>
              <li>
                Listas
                <ol type="i">
                  <li>No ordenadas</li>
                  <li>Ordenadas</li>
                  <li>De definición</li>
                  <li>Anidadas</li>
                </ol>
              </li>
              <li>
                Enlaces
                <ol type="i">
                  <li>Absolutos</li>
                  <li>Relativos</li>
                </ol>
              </li>
              <li>Imágenes</li>
            </ol>
          </li>

          <li>
            CSS
            <ol type="A">
              <li>Anatomía</li>
              <li>
                Selectores básicos
                <ol type="i">
                  <li>Elemento</li>
                  <li>Clase</li>
                  <li>ID</li>
                  <li>Grupo</li>
                </ol>
              </li>
              <li>El DOM</li>
              <li>Selectores avanzados</li>
              <li>Modelo de caja</li>
            </ol>
          </li>

          <li>
            Programación
            <ol type="A">
              <li>Python</li>
              <li>JavaScript</li>
            </ol>
          </li>

          <li>
            Bases de datos
            <ol type="A">
              <li>Archivo plano</li>
              <li>Relacionales</li>
            </ol>
          </li>
        </ol>
      </body>
    </html>
  </body>
</html>
