<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p style="font-family: Arial black; color: blue; font-size: 14px">
      Arial black, tamaño 14, colr azul oscuro
    </p>
    <p
      style="
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        font-size: 11px;
        color: seagreen;
      "
    >
      <b>Comic sans MS, tamaño 11, color verde mar y negrita</b>
    </p>
  </body>
</html>
