<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><b>Numeric Ordered List (Default)</b></h1>
    <ol>
      <li>Primero</li>
      <li>Segundo</li>
      <li>Tercer</li>
    </ol>
    <h1><b>Alphabetic Ordered List</b></h1>
    <ol type="a">
      <li>Elemento a</li>
      <li>Elemento b</li>
      <li>Elemento c</li>
    </ol>
    <h1><b> Uppercase Alphabetic Ordered List</b></h1>
    <ol type="A">
      <li>Elemento A</li>
      <li>Elemento B</li>
      <li>Elemento C</li>
    </ol>
    <h1><b>Roman Numeral Ordered List</b></h1>
    <ol type="I">
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ol>
  </body>
</html>
