<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: lightblue">
    <h1 style="text-align: center">
      <span style="color: rgb(0, 34, 128)">Texto</span
      ><span style="color: red"> Centrado</span>
    </h1>
    <p style="text-align: center; background-color: grey">
      Texto centrado con fondo plata
    </p>
  </body>
  <h1 style="text-align: center">
    <span style="color: rgb(0, 34, 128)">Texto</span>
    <span style="color: red"> alineado</span>
    <span style="color: rgb(0, 34, 128)"> a la derecha</span>
  </h1>
  <p style="text-align: center; background-color: grey">
    Otro texto centrado sobre fondo plata
  </p>
</html>
