<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      style="
        border: 5px solid rgb(87, 57, 255);
        height: 50px;
        width: 550px;
        text-align: center;
      "
    >
      <tr>
        <td
          style="border: 5px solid rgb(87, 57, 255); transform: rotate(-90deg)"
          rowspan="3"
        >
          ejemplo
        </td>
        <td style="border: 5px solid rgb(87, 57, 255)" colspan="9">
          PRACTICAS DE TABLAS
        </td>
      </tr>
      <tr>
        <td style="border: 5px solid rgb(87, 57, 255)" colspan="5">
          Creacon de tablas
        </td>
        <td style="border: 5px solid rgb(87, 57, 255)">1</td>
        <td style="border: 5px solid rgb(87, 57, 255)">2</td>
        <td style="border: 5px solid rgb(87, 57, 255)">3</td>
        <td style="border: 5px solid rgb(87, 57, 255)">4</td>
      </tr>
      <tr>
        <td style="border: 5px solid rgb(87, 57, 255)">uno</td>
        <td style="border: 5px solid rgb(87, 57, 255)">dos</td>
        <td style="border: 5px solid rgb(87, 57, 255)">tres</td>
        <td style="border: 5px solid rgb(87, 57, 255)">cuatro</td>
        <td style="border: 5px solid rgb(87, 57, 255)">cinco</td>
        <td style="border: 5px solid rgb(87, 57, 255)">&nbsp;</td>
        <td style="border: 5px solid rgb(87, 57, 255)">&nbsp;</td>
        <td style="border: 5px solid rgb(87, 57, 255)">&nbsp;</td>
        <td style="border: 5px solid rgb(87, 57, 255)">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
