<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr />
    <hr />
    <p>Personal Learning Enviroment</p>
    <p style="font-size: 20px">ENTORNO PERSONAL DE APRENDIZAJE</p>
    <h1>P.L.E</h1>
    <p>
      Una vez tenidas en cuenta<span style="color: blue">
        "Mis herramientas para aprender".</span
      >
      Vamos a acercarnosun poco al concelto
    </p>
    <h1 style="color: orange">¿Que es un entorno personal de aprendizaje?</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente recusandae
    officia cum reprehenderit, quae illo exercitationem! Ratione veniam ducimus
    velit praesentium incidunt? Eum fugit atque, quod voluptate repellat a
    accusantium.
    <hr />
    <h1 style="color: blueviolet">
      ?Que no es un entorno personal de aprendizaje?
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate,
      nam neque perferendis mollitia explicabo soluta aspernatur accusantium
      culpa cupiditate labore, temporibus laborum voluptatibus possimus in ex
      minus sequi? Temporibus?
    </p>
    <hr />
    <h1 style="color: green">
      ¿Que hace parte o conforma un entorno personal?
    </h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quo
      totam a adipisci inventore id nulla deserunt earum officia incidunt velit
      mollitia officiis atque dolor, eveniet modi iusto, dicta libero?
    </p>
    <hr />
    <p><b>Y no olvide.... con todos los juguetes!!!!</b></p>
  </body>
</html>
