<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p
      style="
        border: 5px solid rgb(255, 0, 0);
        padding: 10px 10px;
        border-radius: 10px;
      "
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo
      voluptate culpa nesciunt veritatis, enim accusamus tempora voluptates. Ut
      reiciendis assumenda sint architecto quas necessitatibus aliquid
      repudiandae culpa et nostrum!
    </p>
    <p
      style="
        border: 5px solid rgb(255, 0, 0);
        padding: 10px 10px;
        border-radius: 10px;
      "
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, autem
      nostrum vel deserunt, explicabo laudantium facere ducimus ullam minima
      praesentium ratione, recusandae odio rerum aspernatur aperiam doloribus
      neque corrupti fugiat.
    </p>
  </body>
</html>
