<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Listas animadas</h1>
    <ol type="1">
      <li>
        Mamiferos
        <ul type="circle">
          <li>Gato</li>
          <li>Perro</li>
        </ul>
      </li>
      <li>
        Pajaros
        <ul type="circle">
          <li>Paloma</li>
          <li>Gorrion</li>
        </ul>
      </li>
      <li>
        Peces
        <ul type="circle">
          <li>Tiburon</li>
          <li>Sardina</li>
        </ul>
      </li>
    </ol>
  </body>
</html>
