<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Lista sin elemento grafico</p>
    <ol>
      <il>Elemento 1</il
      ><br />
      <il>Elemento 2</il
      ><br />
      <il>Elemento 3</il
      ><br />
    </ol>
    <p>Lista con circulos</p>
    <ul type="circle">
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul>
    <p>Lista con cuadrados</p>
    <ul type="square">
      <li>ELemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul>
    <p>Lista con numeros romanos</p>
    <ol type="i">
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ol>
    <p>Lista con letras griegas</p>
    <ol type="lowe_greek">
      <li>Elemento 1</li>
    </ol>
  </body>
</html>
