<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Titular de nivel 1</h1>
    <img src="/LDM/lenguajes-de-marca-1/NombreProyecto/NombreProyecto/assets/img/homero.gif" alt="Imagen" />
    <ul>
      <li>Menu 1</li>
      <li>Menu 2</li>
      <li>Menu 3</li>
    </ul>
    <p>Contenido de la pagina</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aut ea!
      Nulla aliquid, molestiae dolor unde, maiores labore possimus sed tenetur
      error magnam similique consectetur non ullam reprehenderit earum quaerat.
    </p>
    <p>Fin de pagina</p>
    <img src="/LDM/lenguajes-de-marca-1/NombreProyecto/NombreProyecto/assets/img/michael.gif" alt="Imagen" />
    <img src="/LDM/lenguajes-de-marca-1/NombreProyecto/NombreProyecto/assets/img/baby.gif" alt="Imagen" />
    <hr style="height: 15px; background-color: rgb(129, 129, 129)" />
  </body>
</html>
