<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="1"
      style="
        border: 2px solid rgb(0, 0, 0);
        height: 50px;
        width: 500px;
        text-align: center;
      "
    >
      <tr>
        <td colspan="4">Animales en peligro de extincion</td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>Cabezas</td>
        <td>Prevision 2010</td>
        <td>Prevision 2020</td>
      </tr>
      <tr>
        <td>Ballena</td>
        <td>5000</td>
        <td>4000</td>
        <td>1500</td>
      </tr>
      <tr>
        <td>Oso partdo</td>
        <td>50</td>
        <td colspan="2" rowspan="2">0</td>
      </tr>
      <tr>
        <td>Lince</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Trigre</td>
        <td>300</td>
        <td colspan="2">210</td>
      </tr>
    </table>
  </body>
</html>
