<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HTML colors:</h1>
    <h2 style="background-color: purple">Purple</h2>
    <h2 style="background-color: blue">Blue</h2>
    <h2 style="background-color: lightblue">Lightblue</h2>
    <h2 style="background-color: hotpink">Hotpink</h2>
    <h2 style="background-color: lightgrey">LightGrey</h2>
    <h2 style="background-color: orange">Orange</h2>
    <h2 style="background-color: red">Red</h2>
    <h2 style="background-color: yellow">Yellow</h2>
    <h2 style="background-color: violet">Violet</h2>
    <h2 style="background-color: brown">Brown</h2>
  </body>
</html>
