<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tutorial de Mysql</h1>
    <a href="google.com">Introduccion</a><br>
    <a href="google.com">SHow databases</a><br>
    <a href="google.com">Creacion de una tabla y mostrar sus campos</a><br>
    <a href="google.com">Carga de registros a una tabla y su recuperacion</a>
    <br>
    <h2>Introduccion</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur suscipit, alias similique reprehenderit sapiente laudantium provident modi necessitatibus ullam, amet molestiae libero aperiam explicabo nemo ratione nulla a!</p>
    <h2>show databases</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis optio libero quod nostrum quisquam labore qui molestias, eligendi, nam debitis commodi neque esse pariatur saepe totam quis id incidunt deserunt!</p>
    <h2>Creacion de una tabla y mostar sus campos</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi totam, excepturi commodi doloribus facilis voluptate obcaecati laborum sit. Totam alias velit consequatur commodi error eveniet officiis consequuntur illo rerum repellendus?</p>
    <h2>Carga de registros y su recuperacion</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum, mollitia nostrum molestiae quis sit facilis aut explicabo sequi quos animi velit inventore voluptatum amet consequatur. Minima, asperiores. Aut, consectetur.</p>
</body>
</html>