<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ALGUNAS ETIQUETAS ÚTILES</h1>
    <p><a href="Google.com">Nuestro blog</a> es muy útil</p>
    <hr />
    <h2>Lista desordenada o con viñetas, de colores</h2>
    <ul type="">
      <li>Rojo</li>
      <li>Amarillo</li>
      <li>Verde</li>
      <li>Negro</li>
      <li>Naranja</li>
    </ul>
    <hr />
    <h2>Lista ordenada o numerada de animalitos</h2>
    <ol type="1">
      <li>Elefante</li>
      <li>Caballo</li>
      <li>Perro</li>
      <li>Gato</li>
      <li>Raton</li>
    </ol>
    <hr />
    <h2>Lista de descripcion</h2>
    <ul>
      <il>css</il>
      <ul>
        <il>Cascading Style Sheets</il>
      </ul>
      <il>HTML</il>
      <ul>
        <il>Hyper Text MarkUp Language</il>
      </ul>
    </ul>
  </body>
</html>
