<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="3"
      style="
        border: 2px solid black;
        border-collapse: collapse;
        height: 400px;
        width: 500px;
      "
    >
      <tr>
        <td style="text-align: center; background-color: wheat">1</td>
        <td
          style="text-align: center; background-color: darksalmon"
          colspan="2"
        >
          2
        </td>
        <td style="text-align: center; background-color: wheat">3</td>
        <td
          rowspan="5"
          style="text-align: center; background-color: mediumaquamarine"
        >
          4
        </td>
      </tr>
      <tr>
        <td style="text-align: center">5</td>
        <td style="text-align: center; background-color: mediumaquamarine">
          6
        </td>
        <td
          style="text-align: center; background-color: darksalmon"
          colspan="2"
        >
          7
        </td>
      </tr>
      <tr>
        <td
          style="text-align: center; background-color: darksalmon"
          colspan="3"
        >
          8
        </td>
        <td style="text-align: center">9</td>
      </tr>
      <tr>
        <td style="text-align: center; background-color: lightgreen">10</td>
        <td style="text-align: center; background-color: mediumaquamarine">
          11
        </td>
        <td style="text-align: center">12</td>
        <td style="text-align: center; background-color: darksalmon">13</td>
      </tr>
      <tr>
        <td style="text-align: center; background-color: mediumaquamarine">
          14
        </td>
        <td
          style="text-align: center; background-color: lightgreen"
          colspan="2"
          rowspan="2"
        >
          15
        </td>
        <td style="text-align: center">16</td>
      </tr>
      <tr>
        <td style="text-align: center; background-color: mediumaquamarine">
          17
        </td>
        <td style="text-align: center; background-color: wheat" colspan="2">
          18
        </td>
      </tr>
    </table>
  </body>
</html>
