<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Listas de definicion</p>
    <dl>
      <dt>BIOS</dt>
      <dd>Basic Input Output System</dd>

      <dt>RAM</dt>
      <dd>Random Access Memory</dd>

      <dt>HTML5</dt>
      <dd>
        Gracias por visitar
        <a href="www.aprendoencasa.com">www.aprendoencasa.com</a>
      </dd>
    </dl>
  </body>
</html>
