<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="1"
      style="
        border: 2px solid rgb(255, 255, 255);
        border-collapse: collapse;
        height: 30px;
        width: 500px;
        text-align: center;
      "
    >
      <tr>
        <td colspan="6" style="font-weight: bold; background-color: burlywood">
          DISEÑO WEB Y MUTLTIMEDIA
        </td>
      </tr>
      <tr style="font-weight: bold; background-color: burlywood">
        <td>1er apellido</td>
        <td>2 apellido</td>
        <td>Nombre</td>
        <td>color de pelo</td>
        <td>sexo</td>
        <td>Edad</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Exposito</td>
        <td style="background-color: aqua">Cano</td>
        <td style="background-color: aqua">Susana</td>
        <td style="background-color: aqua">Moreno</td>
        <td rowspan="2" style="background-color: darkseagreen">Mujer</td>
        <td style="background-color: aqua">34</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Martin</td>
        <td rowspan="2" style="background-color: darkseagreen">Rodriquez</td>
        <td style="background-color: aqua">Veronica</td>
        <td style="background-color: aqua">Rubio</td>
        <td style="background-color: aqua">26</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Lopez</td>
        <td style="background-color: aqua">Jose Antonio</td>
        <td rowspan="4" style="background-color: darkseagreen">Moreno</td>
        <td rowspan="9" style="background-color: darkseagreen">Hombre</td>
        <td style="background-color: aqua">20</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Ariza</td>
        <td style="background-color: aqua">Rosales</td>
        <td style="background-color: aqua">Jorge</td>
        <td style="background-color: aqua">21</td>
      </tr>
      <tr>
        <td rowspan="2" style="background-color: darkseagreen">Sicardo</td>
        <td rowspan="2" style="background-color: darkseagreen">Raya</td>
        <td style="background-color: aqua">Cristo</td>
        <td style="background-color: aqua">29</td>
      </tr>
      <tr>
        <td rowspan="2" style="background-color: darkseagreen">Miguel Angel</td>
        <td style="background-color: aqua">23</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Benitez</td>
        <td style="background-color: aqua">Reyes</td>
        <td rowspan="2" style="background-color: darkseagreen">Castaño</td>
        <td style="background-color: aqua">18</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Sutil</td>
        <td style="background-color: aqua">Miranda</td>
        <td style="background-color: aqua">Ismael</td>
        <td rowspan="2" style="background-color: darkseagreen">24</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Jimenez</td>
        <td style="background-color: aqua">Peña</td>
        <td style="background-color: aqua">Juan Luis</td>
        <td rowspan="2" style="background-color: darkseagreen">Moreno</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Lima</td>
        <td style="background-color: aqua">Lopez</td>
        <td rowspan="2" style="background-color: darkseagreen">Jesus</td>
        <td rowspan="2" style="background-color: darkseagreen">19</td>
      </tr>
      <tr>
        <td style="background-color: aqua">Morales</td>
        <td style="background-color: aqua">Ortega</td>
        <td style="background-color: aqua">Castaño</td>
      </tr>
      <tr style="font-weight: bold; background-color: burlywood">
        <td>1er apellido</td>
        <td>2 apellido</td>
        <td>Nombre</td>
        <td>color de pelo</td>
        <td>sexo</td>
        <td>Edad</td>
      </tr>
      <tr>
        <td
          colspan="6"
          style="
            text-align: center;
            font-weight: bold;
            background-color: burlywood;
          "
        >
          DISEÑO WEB Y MUTLTIMEDIA
        </td>
      </tr>
    </table>
  </body>
</html>
