<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <body style="background-color: #fbff04"></body>
    <center>
      <h1 style="color: #ff0000" ;>listas de enlaces</h1>
    </center>
    <ul>
      <li>Buscadores</li>
      <ul>
        <li><a href="Google.com">Bing</a></li>
        <li><a href="Google.com">Google</a></li>
      </ul>
      <li>Redes Sociales</li>
      <ul>
        <li><a href="Google.com">Twitter</a></li>
        <li><a href="Google.com">Facebook</a></li>
      </ul>
    </ul>
  </body>
</html>
